<body>
  <div id="pdf-report" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="19px">
      
    <div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">    
  
      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>   <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div> 


    <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div> 
    
      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div> 

      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div> 

      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div> 

      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>

      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>


      <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

        <div>
          <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
            [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
            [animation]="'easeInOutQuart'" [animationDelay]="0">
          </round-progress>

          <div class="percentage_text"><b> {{percentage}}% </b></div>
        </div>
        <div class="total_text"><b> Total Compliant </b> </div>

      </div>

    </div>

    
    <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

      <div>
        <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
          [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
          [animation]="'easeInOutQuart'" [animationDelay]="0">
        </round-progress>

        <div class="percentage_text"><b> {{percentage}}% </b></div>
      </div>
      <div class="total_text"><b> Total Compliant </b> </div>

    </div>
    <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

      <div>
        <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
          [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
          [animation]="'easeInOutQuart'" [animationDelay]="0">
        </round-progress>

        <div class="percentage_text"><b> {{percentage}}% </b></div>
      </div>
      <div class="total_text"><b> Total Compliant </b> </div>

    </div>
    <div class="box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="-31px">

      <div>
        <round-progress [current]='percentage' [max]="100" [color]="'#FFFFFF'" [background]="'#94d539'" [radius]="60"
          [stroke]="8" [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="2"
          [animation]="'easeInOutQuart'" [animationDelay]="0">
        </round-progress>

        <div class="percentage_text"><b> {{percentage}}% </b></div>
      </div>
      <div class="total_text"><b> Total Compliant </b> </div>

    </div>


    <div>
        <button (click)="download_Compliance_Report()"> PDF </button>
    </div>
      
  </div>
</body>
